@{
    ViewData["Title"] = "API";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<form action="" method="POST">
    <input name="t" type="text" placeholder="kuyvgq">
    <input type="submit">
</form>