@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue</h1>
</div>

<div class="articles">
    <a href="lien"><div class="article">
        <h1>Titre</h1>
        <img>
        <p>300 e</p>
    </div></a>
    <a href="lien"><div class="article">
        <h1>Titre</h1>
        <img>
        <p>300 e</p>
    </div></a>
</div>