html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.articles{
    display: flex;
}

.article{
    color: black;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 11px -1px #000000;
    padding: 10px;
    text-decoration: none;
}

.articles img{
    background-color: red;
    height: 100px;
    width: 200px;
}

.articles h1{
    text-align: center;
    text-decoration: none;

}

.articles p{
    text-align: center;
    font-size: 1.5em;
    text-decoration: none;

}

a{
    text-decoration: none;

}