html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}



.article{
    color: black;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 11px -1px #000000;
    padding: 10px;
    text-decoration: none;
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.articles img{
    background-color: red;
    height: 150px;
    margin: 0 auto;
}

.articles h1{
    text-align: center;
    text-decoration: none;

}

.articles p{
    text-align: center;
    font-size: 1.5em;
    text-decoration: none;

}

a{
    text-decoration: none;

}





@media (orientation: landscape) {
  .infos{
    display: flex;

  }
  .infos img{
    width: 30vw;
    object-fit: contain;

  }
  .imgPaywall{
    height: 400px;
    object-fit: contain;
  }
  .articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (orientation: portrait) {
  .infos{
    display: flex;
    flex-direction: column-reverse;
  }
  .articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }
}